@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --heading-color:#D4AF37;
  --hover-color:#FFD700;
  --paragraph-color:#556B2F;
  --hover-color-2:#6B8E23;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading-color: var(--heading-color);
  --color-paragraph-color: var(--paragraph-color);
  --color-hover-color: var(--hover-color);
  --color-hover-color-2: var(--hover-color-2);
  --font-marcellus: var(--font-marcellus);
  --font-imperial_script:var(--font-imperial_script);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float-updown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.animate-float-updown {
  animation: float-updown 3s ease-in-out infinite;
}

@keyframes slamWithShadow {
  0% {
    transform: scale(1.5) translateY(-200px);
    filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    opacity: 0;
  }
  60% {
    transform: scale(0.95) translateY(20px);
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.3));
    opacity: 1;
  }
  80% {
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
    filter: drop-shadow(0 15px 20px rgba(0,0,0,0.25));
  }
}

.animate-slam-with-shadow {
  animation: slamWithShadow 1s ease-out forwards;
}
